*build*
.idea
.vscode
CMakeLists.txt

.tmp*
*.cmd
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod
*.mod.c
*.i
*.lst
*.symtypes
*.symvers
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
